<footer>
  <div class="footer-container">
    <div class="footer-text">
      <p>
        Powered by
        <a target="_blank" href="https://angular.dev/">
          <span
            ><fa-icon
              class="github-icon"
              [icon]="faAngular"
              size="2xl"
            ></fa-icon
            >ngular</span
          >
        </a>
      </p>
      •
      <p>
        {{ appTitle }}
      </p>
      •
      <p>{{ '@' }}{{ currentYear }}</p>
    </div>
  </div>
</footer>
